/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #f24537;
  --ion-color-primary-rgb: 242, 69, 55;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d53d30;
  --ion-color-primary-tint: #f3584b;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #c5a43e;
  --ion-color-tertiary-rgb: 197, 164, 62;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #ad9037;
  --ion-color-tertiary-tint: #cbad51;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #323232;
  --ion-color-dark-rgb: 50, 50, 50;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2c2c2c;
  --ion-color-dark-tint: #474747;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** custom **/
  --pana-titles-color: #f4f5f8;

  /** blue **/

  --ion-color-blue: #537bff;
  --ion-color-blue-rgb: 83, 123, 255;
  --ion-color-blue-contrast: #ffffff;
  --ion-color-blue-contrast-rgb: 255, 255, 255;
  --ion-color-blue-shade: #496ce0;
  --ion-color-blue-tint: #6488ff;

  /** silver **/

  --ion-color-silver: #c0c0c0;
  --ion-color-silver-rgb: 192, 192, 192;
  --ion-color-silver-contrast: #000000;
  --ion-color-silver-contrast-rgb: 0, 0, 0;
  --ion-color-silver-shade: #a9a9a9;
  --ion-color-silver-tint: #c6c6c6;

  /** platinum **/

  --ion-color-platinum: #e5e4e2;
  --ion-color-platinum-rgb: 229, 228, 226;
  --ion-color-platinum-contrast: #000000;
  --ion-color-platinum-contrast-rgb: 0, 0, 0;
  --ion-color-platinum-shade: #cac9c7;
  --ion-color-platinum-tint: #e8e7e5;
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-color-silver {
  --ion-color-base: var(--ion-color-silver);
  --ion-color-base-rgb: var(--ion-color-silver-rgb);
  --ion-color-contrast: var(--ion-color-silver-contrast);
  --ion-color-contrast-rgb: var(--ion-color-silver-contrast-rgb);
  --ion-color-shade: var(--ion-color-silver-shade);
  --ion-color-tint: var(--ion-color-silver-tint);
}

.ion-color-platinum {
  --ion-color-base: var(--ion-color-platinum);
  --ion-color-base-rgb: var(--ion-color-platinum-rgb);
  --ion-color-contrast: var(--ion-color-platinum-contrast);
  --ion-color-contrast-rgb: var(--ion-color-platinum-contrast-rgb);
  --ion-color-shade: var(--ion-color-platinum-shade);
  --ion-color-tint: var(--ion-color-platinum-tint);
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;
  }
}

@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/Tajawal-Regular.ttf");
}

@font-face {
  font-family: "Tajawal";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/Tajawal-Bold.ttf");
}

ion-content.reg-bg {
  --background: url(../images/register_bg.jpg) no-repeat center center / cover;
}

.land-bg {
  --background: url(../images/land_bg.jpg) no-repeat center center / cover;
}

.login-bg {
  --background: url(../images/login_bg.jpg) no-repeat center center / cover;
}

.user-home-bg {
  position: relative;
}

.top-bg {
  background: url(../images/banner.png) no-repeat bottom center / cover;
  width: 100%;
  height: 25vh;
  top: auto;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: 0;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  padding: 16px;
  top: auto;
  left: 0px;
  right: 0px;
  position: absolute;
}

.avatar-img {
  background: #eee;
  width: 140px;
  height: 140px;
  margin: auto;
  margin-top: 2vh;
  border-radius: 50%;
  margin-bottom: 10px;

  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 100px #2020202e inset, 0 0 5px #00000080;
  border-radius: 2rem !important;
}
.blue-border {
  border: 8px solid var(--ion-color-blue);
}

.gold-border {
  border: 8px solid var(--ion-color-tertiary);
}

.silver-border {
  border: 8px solid var(--ion-color-silver);
}

.platinum-border {
  border: 8px solid var(--ion-color-platinum);
}

.user-avatar {
  position: relative;
  margin-top: 8vh;
}

.title {
  text-align: center;
  color: var(--pana-titles-color);
  font-family: "Tajawal";
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.ctitle {
  font-family: "Tajawal";
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.divider {
  margin: 1em auto;
  height: 2px;
  background-color: white;
}

.divider-dark {
  margin: 1em 2.5em;
  height: 2px;
  background-color: #c3b8b8;
  box-shadow: 3px 1.5px 2px rgba(182, 30, 30, 0.3);
}

.card-box {
  box-shadow: 3px 3px 2px rgba(182, 30, 30, 0.3);
}

.reg-element {
  text-align: center;
  padding: 0.3rem;
}

.attached-img {
  text-align: left;
  padding: 5px 30px;
  font-size: 1.1em;
  margin: 5px;
  background: #dbd3d3ad;
  border-radius: 10px;
  max-height: 1.5em;
  overflow: hidden;
}

ion-button.reg-btn {
  --border-radius: 2em;
  --box-shadow: 0px 14px 25px rgba(182, 30, 30, 0.59);
  width: 90%;
  margin: 2px auto;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Tajawal";
}

ion-button.light-btn {
  --border-radius: 2em;
  --box-shadow: 0px 2px 2px rgba(182, 30, 30, 0.3);
  width: 90%;
  margin: 2px auto;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Tajawal";
}

ion-button.land-btn {
  text-transform: initial;
}

.reg-input {
  --placeholder-color: var(--pana-titles-color);
  --placeholder-opacity: 0.9;
  background: rgba(0, 0, 0, 0.28);
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  border: 1.5px solid #dff;
  color: var(--pana-titles-color);
  width: 90%;
  margin: 2px auto;
  font-size: 1.1rem;
  text-align: center;
}

.footer-btns {
  display: flex;
  justify-content: space-around;
}

ion-input.reg-input:focus {
  outline: none;
  border-color: #c1f371;
  border: 1.5px solid #c1f371;
}

.offers-home-bg ion-card {
  width: 90%;
  margin: 1em;
  text-align: center;
}

.offers-home-bg ion-card img {
  max-width: 45%;
  margin: 1em auto;
}

.main-toolbar {
  text-align: center;
  padding: 0 16px;
}

.menu-toolbar {
  padding: 16px 0;
}

ion-toolbar.profile-toolbar {
  min-height: 20vh;
  padding: 0 16px;
}

.fullh {
  height: 100vh;
}
.intro-slide {
  position: relative;
}

.home-menu-icon {
  position: absolute;
  top: 3vh;
  left: 3vh;
  width: 30vw;
  height: 20vw;
  z-index: 3;
  font-size: 2em;
}

.change-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  font-size: 2.5em;
  z-index: 3;
}
.imglabel-wrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.branch-modal {
  --ion-background-color: #ffffff85;
}
.branch-modal ion-card {
  background-color: #ffffff;
  margin-top: 15vh;
}

.c-head-text {
  font-size: 1.25em;
  font-family: "Tajawal";
}

.card {
  width: 95vw;
  margin: 1em auto;
}

.card .barcode {
  margin: 1em auto;
}

.attach-icon {
  background: #cccccca6;
  border-radius: 50%;
  padding: 0.5em;
  font-size: 2.5em;
}

.intro-slide-btn {
  top: 85vh;
  left: 0px;
  right: 0px;
  position: absolute;
}

.hidden-file-input {
  display: none;
  height: 0px;
  width: 0px;
}

.inputStyle {
  width: 4rem !important;
  height: 5.5rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: #f0e6e6;
  opacity: 0.9; /* Firefox */
}
